head
  title Test Meteor Vue Tracker
  link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=oLaY2z53by")
  link(rel="icon" type="image/png" href="/favicon-32x32.png?v=oLaY2z53by" sizes="32x32")
  link(rel="icon" type="image/png" href="/favicon-16x16.png?v=oLaY2z53by" sizes="16x16")
  link(rel="manifest" href="/manifest.json?v=oLaY2z53by")
  link(rel="mask-icon" href="/safari-pinned-tab.svg?v=oLaY2z53by" color="#70c914")
  link(rel="shortcut icon" href="/favicon.ico?v=oLaY2z53by")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" href="/MyFontsWebfontsKit.css")
  meta(name="theme-color" content="#70c914")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="msapplication-TileImage" content="/mstile-144x144.png")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no minimal-ui")
  //script(type="text/javascript", src="http://easy.myfonts.net/v2/js?sid=72295(font-family=Century+Gothic)&sid=212570(font-family=Century+Gothic+Std+Regular)&sid=212571(font-family=Century+Gothic+Std+Bold)&key=siP45yDSrX").
